{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% load tailwind_filters%}

{% block title %}
  Login
{% endblock title %} 

{% block content %}

<div class="w-[27%] mx-auto shadow-md p-5 mt-5">
    <h3 class="text-center text-3xl font-bold">Login</h3>
  <form action="" method="post" class="space-y-2">
    {% csrf_token %} 
    {{ form|crispy }}
    <input class="text-center bg-green-500 text-white py-2 px-4 rounded-md" type="submit" value="Login" />
  </form>
</div>

<div class="text-grey-dark mt-10 text-center">
  Don't have an account?
  <a class="no-underline border-b border-blue text-blue" href="{% url 'signup' %}">
    Signup </a
  >
</div>

{% endblock content %}